@page
<div class="container" id="systemStatus">
    
   <div id="one">
        <label class="powerGenerator">Power Generator</label>
        <br/>
        <label id="currentPowerGeneration"></label>
    </div>
    <div id="two">
        <div id="listOfActiveDevices"></div>
    </div>

</div>
<script src="~/lib/signalr/dist/browser/signalr.js"></script>
<script src="~/js/statusUpdate.js"></script>